{% if site.twitter_users %}
<section>
  <h1>Latest Tweets</h1>
  {% for twitter_user in site.twitter_users %}
    <ul id="tweets-{{twitter_user.username}}" class="tweets">
      <li class="loading">Status updating...</li>
    </ul>
    {% if twitter_user.follow_button %}
      <a href="http://twitter.com/{{ twitter_user.username }}" class="twitter-follow-button" data-show-count="{{ twitter_user.show_follower_count }}">Follow @{{ twitter_user.username }}</a>
    {% else %}
      <p>Follow <a href="http://twitter.com/{{twitter_user.username}}">@{{ twitter_user.username }}</a></p>
    {% endif %}
    <script type="text/javascript">
      $.domReady(function(){
        getTwitterFeed("{{twitter_user.username}}", {{twitter_user.tweet_count}}, {{twitter_user.show_replies}});
      });
    </script>
  {% endfor %}
  <script src="{{ root_url }}/javascripts/twitter_multi.js" type="text/javascript"></script>
</section>
{% endif %}
